<div class="recipe-plugin-for-wp--block recipe-plugin-for-wp--recipe-block {{#if align}} align{{align}}{{/if}}"
  id="recipe-plugin-for-wp--recipe">
  <section class="recipe-plugin-for-wp--block--inner">

    <div class="recipe-plugin-for-wp--recipe-block--title">
      {{#if name}}
      <h2>{{{name}}}</h2>
      {{/if}}
    </div>

    <div class="recipe-plugin-for-wp--recipe-block--intro">
      {{#if averageRating}}
      <div class="recipe-plugin-for-wp--recipe-block--rating recipe-plugin-for-wp--recipe-block--rating--small">
        <ol>
          <li class="recipe-plugin-for-wp--recipe-block--star{{#if averageRating}} selected{{/if}}" data-rating="1">1
          </li>
          <li
            class="recipe-plugin-for-wp--recipe-block--star{{#ifMoreOrEqual averageRating 2}} selected{{else}}{{#ifMoreOrEqual averageRating 1.5}} half-selected{{/ifMoreOrEqual}}{{/ifMoreOrEqual}}"
            data-rating="2">2</li>
          <li
            class="recipe-plugin-for-wp--recipe-block--star{{#ifMoreOrEqual averageRating 3}} selected{{else}}{{#ifMoreOrEqual averageRating 2.5}} half-selected{{/ifMoreOrEqual}}{{/ifMoreOrEqual}}"
            data-rating="3">3</li>
          <li
            class="recipe-plugin-for-wp--recipe-block--star{{#ifMoreOrEqual averageRating 4}} selected{{else}}{{#ifMoreOrEqual averageRating 3.5}} half-selected{{/ifMoreOrEqual}}{{/ifMoreOrEqual}}"
            data-rating="4">4</li>
          <li
            class="recipe-plugin-for-wp--recipe-block--star{{#ifMoreOrEqual averageRating 5}} selected{{else}}{{#ifMoreOrEqual averageRating 4.5}} half-selected{{/ifMoreOrEqual}}{{/ifMoreOrEqual}}"
            data-rating="5">5</li>
        </ol>
      </div>
      {{/if}}

      {{#if description}}
      <p>{{{ description }}}</p>
      {{/if}}

      {{#if difficulty}}
      <span class="recipe-plugin-for-wp--recipe-block--difficulty">{{ difficulty }}</span>
      {{/if}}

    </div>

    {{#if thumbnail}}
    <div class="recipe-plugin-for-wp--recipe-block--thumbnail"
      style="background-image: url('{{thumbnail}}') !important;" title="{{ name }}"></div>
    {{/if}}

    {{#if totalTime}}
    <section class="recipe-plugin-for-wp--recipe-block--timings">
      <ul>
        {{#if prepTime}}
        <li>
          <header>{{translations/prepTime}}:</header>
          <span>{{#formatDuration prepTime}}{{/formatDuration}}</span>
        </li>
        {{/if}}

        {{#if restTime}}
        <li>
          <header>{{translations/restTime}}:</header>
          <span>
            {{#formatDuration restTime}}{{/formatDuration}}</span>
        </li>
        {{/if}}

        {{#if cookTime}}
        <li>
          <header>{{translations/cookTime}}:</header>
          <span>
            {{#formatDuration cookTime}}{{/formatDuration}}</span>
        </li>
        {{/if}}

        {{#if bakingTime}}
        <li>
          <header>{{translations/bakingTime}}:</header>
          <span>
            {{#formatDuration bakingTime}}{{/formatDuration}}</span>
        </li>
        {{/if}}

        {{#if totalTime}}
        <li>
          <header>{{translations/totalTime}}:</header>
          <span>{{#formatDuration totalTime}}{{/formatDuration}}</span>
        </li>
        {{/if}}
      </ul>
    </section>
    {{/if}}

    {{#if ingredientsGroups.0}}
    <section class="recipe-plugin-for-wp--recipe-block--ingredients">
      <div class="recipe-plugin-for-wp--recipe-block--headline">
        <h3>{{translations/ingredients}}</h3>
        {{#if recipeYield}}
        <div class="recipe-plugin-for-wp--recipe-block--servings-editor">
          <span disabled="disabled">
            <span class="recipe-servings">{{recipeYieldFormatted}}</span>
            {{recipeYieldUnitFormatted}}
          </span>
        </div>
        {{else}}
        {{#if recipeYieldWidth}}
        {{#if recipeYieldHeight}}
        <div class="recipe-plugin-for-wp--recipe-block--servings-editor">
          <span disabled="disabled">
            <span class="recipe-servings">{{recipeYieldFormatted}}</span>
            {{recipeYieldUnitFormatted}}
          </span>
        </div>
        {{/if}}
        {{/if}}
        {{/if}}
      </div>
      <table class="recipe-plugin-for-wp--recipe-block--ingredients-table" {{#if recipeYield}}
        data-recipe-yield="{{recipeYield}}" {{/if}} {{#if recipeYieldWidth}}
        data-recipe-yield-width="{{recipeYieldWidth}}" {{/if}} {{#if recipeYieldHeight}}
        data-recipe-yield-height="{{recipeYieldHeight}}" {{/if}} data-recipe-yield-unit="{{recipeYieldUnit}}">
        <tbody>
          {{#each ingredientsGroups}}
          {{#if this/title}}
          <tr class="recipe-plugin-for-wp--recipe-block--group-title">
            <th colspan="2">{{this.title}}</th>
          </tr>
          {{/if}}
          {{#each this/items}}
          <tr
            class="recipe-plugin-for-wp--recipe-block--ingredients-item{{#isEven @index}} recipe-plugin-for-wp--even{{/isEven}}">
            <td class="recipe-plugin-for-wp--recipe-block--amount" data-recipe-amount="{{this/amount}}"
              data-recipe-unit="{{this/unit}}">{{this/amount}} {{this/unit}}</td>
            <td class="recipe-plugin-for-wp--recipe-block--ingredient">{{{this/ingredient}}}</td>
          </tr>
          {{/each}}
          {{/each}}
        </tbody>
      </table>
    </section>
    {{/if}}


    {{#if utensils}}
    <section class="recipe-plugin-for-wp--recipe-block--utensils">
      <div class="recipe-plugin-for-wp--recipe-block--headline">
        <h3>{{translations/utensils}}</h3>
      </div>
      <ul class="recipe-plugin-for-wp--recipe-block--utensils-list">
        {{{utensils}}}
      </ul>
    </section>
    {{/if}}

    {{#if preparationStepsGroups.0}}
    <div class="recipe-plugin-for-wp--recipe-block--preparation-steps">
      <div class="recipe-plugin-for-wp--recipe-block--headline">
        <h3>{{translations/preparationSteps}}</h3>
      </div>

      {{#each preparationStepsGroups}}
      {{#if this/title}}
      <h4>{{this.title}}</h4>
      {{/if}}
      <ol>
        {{{this/list}}}
      </ol>
      {{/each}}
    </div>
    {{/if}}

    {{#if videoIframeUrl}}
    <section class="recipe-plugin-for-wp--recipe-block--video">
      <header class="recipe-plugin-for-wp--recipe-block--headline">
        <h3>{{translations/video}}</h3>
      </header>
      <div class="recipe-plugin-for-wp--recipe-block--video-wrapper">
        <iframe src="{{videoIframeUrl}}" frameborder="0" allowfullscreen></iframe>
      </div>
    </section>
    {{/if}}

    {{#if notes}}
    <section class="recipe-plugin-for-wp--recipe-block--notes">
      <header class="recipe-plugin-for-wp--recipe-block--headline">
        <h3>{{translations/notes}}</h3>
      </header>
      <p>{{{notes}}}</p>
    </section>
    {{/if}}

    <section class="recipe-plugin-for-wp--recipe-block--user-rating">
      <header class="recipe-plugin-for-wp--recipe-block--headline">
        <h3>{{translations/feedback}}</h3>
      </header>
      <div class="recipe-plugin-for-wp--recipe-block--rating recipe-plugin-for-wp--recipe-block--interactive"
        data-post-id="{{postId}}" data-save-url="{{ajaxUrl}}" data-nonce="{{nonce}}">
        <ol>
          <li class="recipe-plugin-for-wp--recipe-block--star{{#if userRating}} selected{{/if}}" data-rating="1">1
          </li>
          <li
            class="recipe-plugin-for-wp--recipe-block--star{{#ifMoreOrEqual userRating 2}} selected{{else}}{{/ifMoreOrEqual}}"
            data-rating="2">2</li>
          <li
            class="recipe-plugin-for-wp--recipe-block--star{{#ifMoreOrEqual userRating 3}} selected{{else}}{{/ifMoreOrEqual}}"
            data-rating="3">3</li>
          <li
            class="recipe-plugin-for-wp--recipe-block--star{{#ifMoreOrEqual userRating 4}} selected{{else}}{{/ifMoreOrEqual}}"
            data-rating="4">4</li>
          <li
            class="recipe-plugin-for-wp--recipe-block--star{{#ifMoreOrEqual userRating 5}} selected{{else}}{{/ifMoreOrEqual}}"
            data-rating="5">5</li>
        </ol>
      </div>
    </section>

    <section class="recipe-plugin-for-wp--recipe-block--save-and-share">
      <ul class="recipe-plugin-for-wp--recipe-block--share-buttons">
        {{#if pinterestPinItUrl}}
        <li>
          <a href="{{pinterestPinItUrl}}" target="_blank"
            class="recipe-plugin-for-wp--recipe-block--share-on-pinterest">{{translations/pinIt}}</a>
        </li>
        {{/if}}
      </ul>
    </section>

    {{#ifOneOfThem instagramUsername instagramHashtag}}
    <section class="recipe-plugin-for-wp--recipe-block--call-to-action">
      <div class="recipe-plugin-for-wp--recipe-block--call-to-action--icon"></div>
      <div class="recipe-plugin-for-wp--recipe-block--call-to-action--text">
        <h3>{{translations/instagramHeadline}}</h3>
        {{#if instagramUsername}}
        {{#if instagramHashtag}}
        <p>
          {{translations/instagramThenLink}} <a href="https://www.instagram.com/{{instagramUsername}}/" target="_blank"
            rel="nofollow noopener">@{{instagramUsername}}</a> {{translations/instagramOrUseHashtag}} <a
            href="https://www.instagram.com/explore/tags/{{instagramHashtag}}/" target="_blank"
            rel="nofollow noopener">#{{instagramHashtag}}</a>.
        </p>
        {{else}}
        <p>
          {{translations/instagramThenLink}} <a href="https://www.instagram.com/{{instagramUsername}}/" target="_blank"
            rel="nofollow noopener">@{{instagramUsername}}</a> {{translations/instagramOnInstagram}}.
        </p>
        {{/if}}
        {{else}}
        <p>
          {{translations/instagramThenLink}} <a href="https://www.instagram.com/explore/tags/{{instagramHashtag}}/"
            target="_blank" rel="nofollow noopener">#{{instagramHashtag}}</a> {{translations/instagramOnInstagram}}.
        </p>
        {{/if}}
      </div>
    </section>
    {{/ifOneOfThem}}
  </section>


  <script>
    var RecipePluginForWP = RecipePluginForWP || {};
    RecipePluginForWP.config = {
      ajaxUrl: '{{ajaxUrl}}',
      nonce: '{{nonce}}',
      blogName: '{{blog_name}}'
    };
  </script>
  <script type="application/ld+json">
		{{#toJSON ldJson}}{{/toJSON}}
  </script>
  {{#if options}}
  {{ > styleBlock }}
  {{/if}}
</div>